/* Google fontovi*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}


p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/*Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #070f05;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #nav li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

        #nav li a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            transition: 0.5s ease;
        }

            #nav li a:hover,
            #nav li a.active {
                color: #edede9;
            }

                #nav li a.active::after,
                #nav li a:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: #edede9;
                    position: absolute;
                    bottom: -4px;
                    left: 20px;
                }

/*Pretraga*/

#search-item {
    width: 350px;
    border-radius: 15px;
    height: 30px;
}

.container1 {
    margin-top: 100px;
    margin-left: 750px;
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 4px 4px 30px;
    padding: 20px;
    overflow-y: scroll;
}

    .container1::-webkit-scrollbar {
        display: none;
    }

.product {
    cursor: pointer;
    align-items: center;
    display: flex;
}

    .product img {
        width: 70px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .product .p-details h2 {
        font-size: 20px;
    }

    .product .p-details {
        padding-left: 15px;
    }

.product-list {
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

.container1 h2 {
    padding-bottom: 10px;
}

/*Proizvodi*/
#proizvod1 {
    text-align: center;
}

    #proizvod1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #proizvod1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
        margin: 15px 0;
        transition: 0.2s ease;
    }

        #proizvod1 .pro:hover {
            box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
        }

        #proizvod1 .pro img {
            width: 100%;
            border-radius: 20px;
        }


        #proizvod1 .pro .Opis {
            text-align: start;
            padding: 10px 0;
        }

            #proizvod1 .pro .Opis span {
                color: #060606;
                font-size: 12px;
            }

            #proizvod1 .pro .Opis h5 {
                padding-top: 7px;
                color: #1a1a1a;
                font-size: 14px;
            }

            #proizvod1 .pro .Opis i {
                font-size: 12px;
                color: rgb(243,181,25)
            }

            #proizvod1 .pro .Opis h4 {
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #ff0000;
            }

        #proizvod1 .pro .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #e8f6ea;
            font-weight: 500;
            color: #ff0000;
            border: 1px solid #cce7d0;
        }
/*Newsletter*/
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../img/back1.jpg);
    background-size: 3000px 150px;
    background-repeat: no-repeat;
    background-color: #041e42;
}

    #newsletter h4 {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }

        #newsletter h4 span {
            color: #ffbd27;
        }

    #newsletter .form {
        display: flex;
        width: 40%;
    }

    #newsletter input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #newsletter button {
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

/*brojevi/sledeca strana*/
#brojstrane {
    text-align: center;
}

    #brojstrane a {
        text-decoration: none;
        background-color: #088178;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

        #brojstrane a i {
            font-size: 16px;
            font-weight: 600;
        }

/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    footer p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    footer a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    footer .row img {
        border: 1px solid #088178;
        border-radius: 6px;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
    }